.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.title {
  font-size: 40px;
  margin-bottom: 30px;
}

.start-btn {
  background: #444;
  color: white;
  padding: 12px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  width: 250px;
}

.start-btn:hover {
  background: #666;
}

.score {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
